<!DOCTYPE html>
<html>
  <head>
    <title>找室友设备数统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="aliveChart" style="min-width:400px;height:400px;margin:0 auto;">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- include highcharts js -->
    <script src="http://www.52wulian.org/test/HighCharts/js/highcharts.js"></script>
    <!-- draw chart -->
    <script type="text/javascript">
    function showAliveChart(data)
    {
         //定义一个HighCharts 
         var chart = new Highcharts.Chart({
            //配置chart选项
            chart: {
                renderTo: 'aliveChart',  //容器名，和body部分的div id要一致
                type: 'spline'                      //图表类型，这里选择折线图
             },
            //配置链接及名称选项 
            credits: {
                enabled : false,
                href : "",
                text : ""
            },
            //配置标题
            title: {
                text: '',
                y:10  //默认对齐是顶部，所以这里代表距离顶部10px 
            },
            //配置x轴
            xAxis: {
                categories: data.days
            },
            // 配置y轴
            yAxis: {
                title: {
                    text: '设备数'
                },
                labels: {   
                    formatter: function() {
                        return this.value
                    }
                }
            },
            //配置数据点提示框
            tooltip: {
                crosshairs: true,
                shared: true
            },
            //配置数据使其点显示信息
            plotOptions: {
                spline : {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            //配置数据列 
            series: [
                {
                name: '日启动',
                marker: {
                    symbol: 'square'
                    },
                data: data.day_open 
                },
                {
                name: '日存活',
                marker: {
                    symbol: 'diamond'
                    },
                data: data.day_alive
                }
             ]
             });
        
    };
    $(function () {
      $(document).ready(function() {
        $.ajax({
            dataType: "json",
            url: '/access_dev_stat/alive/',
            success: showAliveChart 
         });

        });
    });
  </script>
  </body>
</html>
