# ACCESS DEVICE STATISTICS
# access device statistics is enabled by default, to temporarily disable, set to False:
ACCESS_DEV_STAT = True
# control your access views, can be regex
# if blank, include all
ACCESS_DEV_STAT_INCLUDE_VIEWS = ['pull_notify', 'search', 'recommend4me_list', 'latestmsgs', 'baike_list']
# if blank, no exclude
ACCESS_DEV_STAT_EXCLUDE_VIEWS = []

# control available date range
from datetime import date
ACCESS_DEV_STAT_DATE_RANGE = (date(2014,1,1), date(2015,1,1)) 

# Whether log access record to file 
ACCESS_DEV_STAT_LOG_TO_FILE = False
# Whether log access record to redis, if True, you can use `calc_stat.py` to get you data 
ACCESS_DEV_STAT_LOG_TO_REDIS = True 
# set to get redis from cache, default is 'default'
ACCESS_DEV_STAT_CACHE_REDIS_KEY = 'redis' 
# add to settings
MIDDLEWARE_CLASSES += (
        'access_dev_stat.middleware.AccessDevStatMiddleware',
    )
INSTALLED_APPS += ( 'access_dev_stat',)
# these were setted before
'''
GUID_COOKIE_NAME = '_guid'
DEVICE_COOKIE_NAME = '_device'
PLATFORM_COOKIE_NAME = '_platform'
CHANNEL_COOKIE_NAME = '_channel'
VERSION_COOKIE_NAME = '_version'
'''
